
<!DOCTYPE html>
<html>
<title>Rails Notes</title>
<body>

<h1>Notes</h1>
<p><a href="/notes/heroku"> Heroku Notes </a></p>
<p><a href="/notes/rails"> Rails Notes </a></p>
<p><a href="http://http://www.w3schools.com/"> W3Schools </a></p>
<p><a href="https://github.com/markets/awesome-ruby"> Awesome Ruby </a></p>

</body>
</html>

