<title>Programming Practice</title>
<h1>Programming Practice</h1>


<p> What is the date?  <%= @current_date %>  </p>
<p> My birthday?  <%= @myBirthday %>  </p>
<p> Days old?  <%= Integer(@current_date - @myBirthday) %>  </p>




